h2{
    font-family: 'Scheherazade New', serif; 
    color:black;
    font-weight: bold; 
    font-weight: bold;
}
button{
    color:white;
    font-weight: bold ;
}
.container{
    width: 415px; 
    margin-top: 30px;
}